@tailwind base;
@tailwind components;
@tailwind utilities;

.card-title {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.numbers {
  font-size: 1.25rem;
  font-weight: 500;
  font-family: monospace;
}